#Hiding mostly output files
*.gz
.paired_end
.requires_merging
.steo0-ercc-Test.PairedEnd.sh
abundance.h5
abundance.tsv
run_info.json
ercc-Test.1.err
logs/
FastQC/
*.out
*.ht2
*.sam
*.parquet
cis_out.csv
independent_out.csv
FDR05.csv
FDR05.qs
*.pdf
rsID_independent_deg_or_gwas_wide.csv

!logcounts.bed.gz

eQTL/tensorQTL_output/interaction_tot_Thal/all.csv
eQTL/tensorQTL_output/interaction_tot_Hb/all.csv
eQTL/tensorQTL_output/combined_interaction_subset.csv
eQTL/paired_DEA_eQTL_SNPs.vcf
eQTL/independent_eqtl_supp_tab.csv
