#Hiding mostly output files
*.gz
.paired_end
.requires_merging
.steo0-ercc-Test.PairedEnd.sh
abundance.h5
abundance.tsv
run_info.json
ercc-Test.1.err
logs/
FastQC/
*.out
*.ht2
*.sam
*.parquet
cis_out.csv
independent_out.csv
FDR05.csv
FDR05.qs
*.pdf
rsID_independent_deg_or_gwas_wide.csv

!logcounts.bed.gz

